<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!Делает страницу адаптивной для мобильных устройств.>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"><!Подключает Materialize CSS>
    <link rel="stylesheet" href="/index.css"><!Подключает локальный CSS-файл index.css>
    <title>{{ title }}</title><!Handlebars-шаблон>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!Подключает jQuery>
    <script src="/main.js"></script><!Подключает локальный JavaScript-файл main.js>
</head>