<nav class = "#f6b090">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Carambola</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isIndex}}
        <li class = "active"><a href="/">Данные</a></li>
        {{else}}
        <li><a href="/">Данные</a></li>
        {{/if}}

        {{#if isCreate}}
        <li class = "active"><a href="/create">Создать</a></li>
        {{else}}
        <li><a href="/create">Создать</a></li>
        {{/if}}


      </ul>
    </div>
  </nav>