{{> head}}<! подключает head.hbs>
<body>
    {{> navbsr}}<!подключает navbsr.hbs>

    <div class = "container"><!Materialize CSS контейнер, который центрирует контент>
        {{{ body }}}<!Вставляет динамический контент страницы>
    </div>
</body>
</html>