<h2>Список задач</h2>

{{#if todos.length}}
<ul id="todo-list">
    {{#each todos}}
    <li class="todo" data-id="{{id}}">
        <label>
            <input type="checkbox" {{#if completed}}checked{{/if}}>
            <span class="{{#if completed}}completed{{/if}}">{{title}}</span>
        </label>
    </li>
    {{/each}}
</ul>
<div class="button-container">
    <button id="save-all" class="btn">Сохранить элементы</button>
    <button id="reset-all" class="btn">Удаление/сброс</button>
</div>

{{else}}
<p>Нет задач!</p>
{{/if}}
